@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-100:#0070C0;
    --primary-200:#004E86;
    --primary-300:#6EC3FF;
    --accent-100:#FFC000;
    --accent-200:#B38600;
    --text-100:#333333;
    --text-200:#737373;
    --bg-100:#F5F5F5;
    --bg-200:#E9E9E9;
    --bg-300:#FFFFFF;
    --bxs-100: 0px 2px 4px 0px rgba(110, 195, 255, 0.62);
    --bxs-200: 0px 1px 4px 0px #6EC3FF;
    --lgr-vertical: linear-gradient(90deg, var(--primary-200) 0%, var(--primary-300) 100%);
    --lgr-horizontal: linear-gradient(180deg, #004E86 0%, #6EC3FF 100%);
    --lgr-services: linear-gradient(180deg, #6EC3FF 0%, #004E86 100%);

}

/* GLOBAL STYLE */

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none !important;
}

/* NAV ITEMS HOVER CUSTOM BAR */

.custom__hover a::before {
  content: '';
  position: absolute;
  background: var(--lgr-vertical);
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  transition: all ease .5s;
}

.custom__hover a:hover::before {
  width: 100%;
}

.nav__blur {
  background: transparent;
  backdrop-filter: blur(5px);
  backface-visibility: hidden;
  transform: translateZ(0px);
}

.active__link {
  color: var(--primary-200);
}


/* BTN 'LOGIN' CUSTOM */

.custom__border {
  border: 1px solid var(--primary-300);
}

/* IMG DOCTOR TRANSITION CUSTOM */

.doctor__custom {
  transition: all .7s ease;
  height: auto;
  width: auto;
}

.doctor__custom:hover {
  cursor: pointer;
  scale: 1.1;
}

/* ICONS SOCIAL CUSTOM */

.social__network a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: var(--bxs-200);
  background: var(--lgr-vertical);
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--bg-300);
  transition: all .3s ease;
}

.social__network a:hover {
  transform: translateY(-10px) ;
}

/* TEXT GRADIENT */

.text__gradient {
  background: var(--lgr-horizontal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* BACK GRADIENTE */

.b__gradient {
  background: var(--lgr-services);
}

/* FOOTER ICONS */

.text__gradient a {
  color: var(--primary-100);
  transition: all .3s;
}

.text__gradient a:hover {
  transform: translateY(-2px) ;
}

/* FOOTER LINE */

.line {
  margin-top: 2px;
  background: #BABABA;
  border-radius: 50px;
  height: 1px;
  width: 74.8%;
  position: absolute;
}

/* SERVICES CARD BORDER LINEAR */

.card__custom {
  padding: 2px;
  background: var(--lgr-services);
  border-radius: 1.6rem;
}

/* LOGIN AND SIGNUP COVER IMG */


.img__cover {
  background: url(/Background.jpg) no-repeat  center center/cover;
  
}

/* SIDE BAR HOVER */

.side__link {
  transition: all 400ms ease;
}
.side__link:hover .icon,
.side__link:hover {
  margin-left: .5rem;
  color: var(--primary-100);
  transition: all 500ms ease;
}

.side__link.active, 
.side__link .icon {
  color: var(--primary-100);
}

div.active {
  position: relative;
  z-index: 1;
  color: var(--primary-100);
}

.active::before {
  position: absolute;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(110, 195, 255, 0.40) 0%, rgba(217, 217, 217, 0.10) 100%);
  box-shadow: 0px 0px 7px -1px #6EC3FF;
  backdrop-filter: blur(10px);
  width: 116%;
  left: -38px;
  border-radius: 7px;
  height: 100%;
  content:'';
  z-index: -1;
}

.active::after {
  display: flex;
  align-items: center;
  position: absolute;
  background: var(--primary-300);
  width: 3.5%;
  border-radius: 20px;
  left: -42px;
  height: 76%;
  content:'';
  z-index: -2;
}

.__line {
  position: relative;
  z-index: 5;
}

.__line::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 2%;
  right: -30px;
  height: 201%;
  background: var(--text-200);
  opacity: 0.5;
}

.__line__::before {
  content: '';
  position: absolute;
  z-index: 100;
  width: 2%;
  left: -35px;
  height: 201%;
  background: var(--text-200);
  opacity: 0.5;
}

.__line__::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 2%;
  right: -35px;
  height: 201%;
  background: var(--text-200);
  opacity: 0.5;
}

div .img {
  width: 45px;
  height: 45px;
  position: relative;
  z-index: -1;
}

div.profile__circle {
  width: 54px;
  height: 54px;
  border: 2px solid var(--primary-100);
  border-radius: 100%;
}


/* PERSONALIZACION DE INPUT FILE */

.custom-file {
  background: transparent;
  border-radius: 0.5rem;
  outline: none;
}

::-webkit-file-upload-button {
  color: var(--bg-300);
  background: var(--lgr-services);
  border: none;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  height: 2.75rem;
  font-weight: 400;
}


